/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family:'Poppins','Source Sans Pro','Encode Sans','Arial','Roboto','Open Sans', sans-serif;
    color: var(--color-secondary);

  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    color: var(--color-primary-light);
  }
  
  
  a {
    text-decoration: none;
    color: var(--color-primary-dark);
    font-family: var(--font-secondary);
  }
  
 
  
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  }
  
#header .flex-container{
  
  display: flex;
  flex-flow: row nowrap;  /* flow = direction (fila o colum) + wrap (normal o invertido) -- Si no entra salta a la siguiente linea */
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}



#header .flex-container .flex-container-left .btn i{
  cursor: pointer;
  font-size: 1.2rem;
}

#header .flex-container .flex-container-left .logo{
  display:none;
}



#header .flex-container .flex-container-mid {
  display: flex;
  flex-flow: row nowrap;
  justify-content:center;
}

#header .flex-container .flex-container-mid .logo-mobile{ 
  width: 50%;
}

#header .flex-container .flex-container-mid .logo{
  display: none; /*"Elimina el bloque"*/
}


#header .flex-container .flex-container-right .btn i{
  cursor: pointer;
  padding-top: 3px;
  font-size: 1.4rem;
}

#header .flex-container .flex-container-right .navbar{
  display: none;
}





@media (min-width: 800px) and (max-width: 1280px) {
   
  #header .flex-container .flex-container-mid .logo-mobile{
    display: none;
  }
  
  #header .flex-container .flex-container-mid .logo{
    display: flex;
    justify-content: center;
    width: 50%;
  }


} 


@media (min-width: 1280px){

  #header{
    position: relative;
  }

  #header .flex-container .flex-container-left{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  #header .flex-container .flex-container-left .logo {
    display: flex;
    width: 50%;
    padding-left: 15px ;
  }

  
  #header .flex-container .flex-container-mid .logo{
    display: none;
  }

  #header .flex-container .flex-container-mid .logo-mobile{
    display: none;
  }

 

  #header .flex-container .flex-container-right .btn{
    display:none;
  }


  #header .flex-container .flex-container-right .navbar{
    display:flex;
  }

  #header .flex-container .flex-container-right .navbar ul{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  #header .flex-container .flex-container-right .navbar a{
    font-size: 1.25rem;
    font-family: var(--font-primary);
    font-weight: 700;
    
    color: var(--color-white);
    padding: 0 10px;
  }


  #header .flex-container .flex-container-right .navbar .dropdown ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;  /*porque no va a la izquierda?*/

    position: absolute; 

    padding-top: 16px;
    background-color: var(--color-primary-dark);
  }


  #header .flex-container .flex-container-right .navbar .dropdown ul li {
    display: none;
    
  }

  #header .flex-container .flex-container-right .navbar .dropdown:hover > ul{
    display:flex;
    flex-flow: column nowrap;
    justify-content: left;
  }

  #header .flex-container .flex-container-right .navbar .dropdown:hover > ul li {
    display: flex;
    padding: 3px 0px;
  }


}

 /*--------------------------------------------------------------
# Index
--------------------------------------------------------------*/
#index{
  background-color: var(--color-grey);
  color: var(--color-black);
  padding: 0px 15px;
}

#index .flex-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
  align-items: baseline;
}



#index .flex-container .date{

  /*
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;*/  /* !! Flex-start o start? */

  /* !! que no tenga propiedad es lo mismo que inline? */

  font-size: 0.9rem;
  font-weight: 550;
  text-transform: uppercase;


}

#index .flex-container .weather{

  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 20px 20px ;
  
}

#index .flex-container .weather span{

  font-size: 0.9rem;
  font-weight: 550;
  padding-left: 10px;
}

/*--------------------------------------------------------------
# News
--------------------------------------------------------------*/
#news{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

}

#news .flex-news-column-left{
  display: none;
}
#news .flex-news-column-right{
  display:none;
}



#news .flex-news-column-mid{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 10px;
}




#news .flex-news-column-mid .text{

  align-items: center;
  margin: 15px 0px ;
  font-weight: 600 ;
  
  border-top-color: var(--color-primary);
  border-top-width: 0.3rem;  /*Necesito width y style para funcionar - lo cual es logico*/ 
  border-top-style:double;


  color: var(--color-secondary-light);
  font-size: 0.9rem;
  text-transform: uppercase;


  border-bottom-color: var(--color-primary);
  border-bottom-width: 0.3rem;
  border-bottom-style:double;

}

#news .flex-news-column-mid .title{

  color: var(--color-primary-dark);
  font-size: 2rem;
  font-weight: 700;
  
  text-align:justify;
  text-justify:inter-word;

  padding-bottom:  1.25rem;
}

#news .flex-news-column-mid .subtitle{
  color: var(--color-secondary-dark);
  
  text-align:justify;
  text-justify:inter-word;

  font-weight: 550;
  margin-bottom:  1rem;
  letter-spacing: 2px;
}


@media (min-width: 800px) and (max-width: 1280px) {
  #news{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
  }

  #news .flex-news-column-left{
    display:flex;
    flex-flow: wrap nowrap;
    justify-content: center;

  }

  #news .flex-news-column-mid{
    display:flex;
    flex-flow: wrap nowrap;
    justify-content: center;
    flex: 80%;               /* No me queda claro como divir las "colums"*/

  }

}

  @media (min-width: 1280px){

    #news{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 100%;
    }

    #news .flex-news-column-left{
      display:flex;
      flex-flow: wrap nowrap;
      justify-content: center;
  
    }
    

    #news .flex-news-column-left{
    display:flex;
    flex-flow: wrap nowrap;
    justify-content: center;
  
    }

    #news .flex-news-column-right{
      display:flex;
      flex-flow: wrap nowrap;
      justify-content: center;
  
    }
  }
